In [1]:
from datetime import datetime
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np
import requests
import json
from tqdm import tqdm
from time import sleep
import os
from bs4 import BeautifulSoup
import random
from selenium import webdriver  
from webdriver_manager.chrome import ChromeDriverManager  
from selenium.webdriver.common.keys import Keys  
from selenium.webdriver.support.ui import Select  
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

#import sys 
#sys.path.append("../")   aquí no es necesario porque tengo el src a la misma altura que el jupyter

from src.funciones import info_vuelos, crearDF_formateado, info_hoteles, crearDF_formateado_hoteles

**API de Hoteles en TENE**

In [20]:
url = "https://tripadvisor-scraper.p.rapidapi.com/hotels/list"

querystring = {"query":"santa cruz de tenerife","page":"1"}

headers = {
	"x-rapidapi-key": "978309fe9dmshe0626a77c211be6p1786a7jsne7e8845b8cfa",
	"x-rapidapi-host": "tripadvisor-scraper.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

answer=response.json()

In [5]:
# with open('hoteltenerife.json', 'w') as archivo:
#     json.dump(answer, archivo, indent=4)

**API de Hoteles en TENE Done**

**API de Hoteles en PMI**

In [44]:


url_hotel = "https://tripadvisor-scraper.p.rapidapi.com/hotels/list"

querystring = {f"query":"palma de mallorca","page":"8"}

headers = {
	"x-rapidapi-key": "978309fe9dmshe0626a77c211be6p1786a7jsne7e8845b8cfa",
	"x-rapidapi-host": "tripadvisor-scraper.p.rapidapi.com"
}

response = requests.get(url_hotel, headers=headers, params=querystring)
respond=response.json()

Esto para guardar en archivo csv

In [47]:
# info_hoteles(respond)     #Lo menciono para que NO MOLESTE

In [46]:
# df=crearDF_formateado_hoteles(info_hoteles(respond))
# df.to_csv('datos/hotel_pmi_8.csv', index=False)

**API de Hoteles en PMI Done**

**Funciones hoteles:**

In [13]:
# def info_hoteles(request_jeison):
#     lista_dicch=[]
#     respond=request_jeison
#     for i in range(0,len(respond["results"])):

#         nombre_hotel=respond["results"][i]["name"]
#         reviews_hotel=respond["results"][i]["reviews"]
#         rating_hotel=respond["results"][i]["rating"]
#         precio_rango_min=respond["results"][i]["price_range_usd"]["min"]
#         precio_rango_max=respond["results"][i]["price_range_usd"]["max"]

#         if precio_rango_min is not None and precio_rango_max is not None:
#             precio_medio = (precio_rango_max + precio_rango_min) / 2
#         else:
#             precio_medio = None

#         ciudad=respond["results"][i]["detailed_address"]["city"]
#         servicios=respond["results"][i]["amenities"]
#         link=respond["results"][i]["link"]

        
#         dicch= {"nombre_hotel":nombre_hotel,
#                 "reviews_hotel":reviews_hotel,
#                 "rating_hotel": rating_hotel,
#                 "precio_rango_min":precio_rango_min,
#                 "precio_rango_max":precio_rango_max,
#                 "precio_medio_por noche":precio_medio,
#                 "ciudad":ciudad,
#                 "servicios":servicios,
#                 "link":link
#                 }
#         lista_dicch.append(dicch)
#     return lista_dicch

Prueba de funcionamiento de funciones:

In [21]:
# info_hoteles(respond)     #Lo menciono para que NO MOLESTE

In [17]:
# def crearDF_formateado_hoteles(funcion_info_vuelos):

#     df_hotel= pd.DataFrame(funcion_info_vuelos).drop(columns= ["precio_rango_min", "precio_rango_max"])
#     df_hotel
#     return df_hotel

In [90]:
# crearDF_formateado_hoteles(info_hoteles(respond))

**API de los vuelos(TENE (TNF Y TNS))**  Meter los códigos de aeropuerto que necesitemos

In [2]:
url = "https://sky-scrapper.p.rapidapi.com/api/v2/flights/searchFlights"

querystring = {"originSkyId":"MAD","destinationSkyId":"TENE","originEntityId":"95565077","destinationEntityId":"27547165","date":"2024-11-03","returnDate":"2024-11-06","cabinClass":"economy","adults":"1","sortBy":"best","currency":"EUR"}

headers = {
	"x-rapidapi-key": "978309fe9dmshe0626a77c211be6p1786a7jsne7e8845b8cfa",
	"x-rapidapi-host": "sky-scrapper.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

respuesta=response.json()

In [83]:
# with open('tenerife.json', 'w') as archivo:
#     json.dump(respuesta, archivo, indent=4)

Formateo:

In [92]:
# df_vuelos_ida_vuelta_TENE["salida"]= pd.to_datetime(df_vuelos_ida_vuelta_TENE["salida"])
# df_vuelos_ida_vuelta_TENE["llegada"]= pd.to_datetime(df_vuelos_ida_vuelta_TENE["llegada"])
# df_vuelos_ida_vuelta_TENE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_origen       20 non-null     object
 1   ciudad_origen   20 non-null     object
 2   id_destino      20 non-null     object
 3   ciudad_destino  20 non-null     object
 4   salida          20 non-null     datetime64[ns]
 5   llegada         20 non-null     datetime64[ns]
 6   duracion(min)   20 non-null     int64
 7   escalas         20 non-null     int64
 8   aerolinea       20 non-null     object
 9   precio          20 non-null     float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(5)
memory usage: 1.7+ KB

**DF vuelos de TENE Done**

**API de los vuelos(PMI)**  Meter los códigos de aeropuerto que necesitemos

In [3]:
url = "https://sky-scrapper.p.rapidapi.com/api/v2/flights/searchFlights"

querystring = {"originSkyId":"MAD","destinationSkyId":"PMI","originEntityId":"95565077","destinationEntityId":"95565111","date":"2024-11-03","returnDate":"2024-11-06","cabinClass":"economy","adults":"1","sortBy":"best","limit":"50","currency":"EUR"}

headers = {
	"x-rapidapi-key": "978309fe9dmshe0626a77c211be6p1786a7jsne7e8845b8cfa",
	"x-rapidapi-host": "sky-scrapper.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

responsa=response.json()

**para guardarlo en csv**

In [4]:
info_vuelos(responsa)     #Lo menciono para que NO MOLESTE

[{'id_vuelo': '13870-2411030835--31915-0-15434-2411031005',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T08:35:00',
  'llegada': '2024-11-03T10:05:00',
  'duracion(min)': 90,
  'escalas': 0,
  'aerolinea': 'Ryanair',
  'precio': 53.92},
 {'id_vuelo': '15434-2411062220--31915-0-13870-2411062350',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T22:20:00',
  'llegada': '2024-11-06T23:50:00',
  'duracion(min)': 90,
  'escalas': 0,
  'aerolinea': 'Ryanair',
  'precio': 53.92},
 {'id_vuelo': '13870-2411030705--32221-0-15434-2411030830',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T07:05:00',
  'llegada': '2024-11-03T08:30:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia Express',
  'precio': 46.6},
 {'id_vuelo': '15434-2411062220--31915-0-13870-2411062350',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T22:20:00',
  'llegada': '2024-11-06T23:50:00',
  'duracion(min)': 90,
  'escalas': 0,
  'aerolinea': 'Ryanair',
  'precio': 46.6},
 {'id_vuelo': '13870-2411031115--31915-0-15434-2411031245',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T11:15:00',
  'llegada': '2024-11-03T12:45:00',
  'duracion(min)': 90,
  'escalas': 0,
  'aerolinea': 'Ryanair',
  'precio': 101.24},
 {'id_vuelo': '15434-2411061055--31915-0-13870-2411061225',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T10:55:00',
  'llegada': '2024-11-06T12:25:00',
  'duracion(min)': 90,
  'escalas': 0,
  'aerolinea': 'Ryanair',
  'precio': 101.24},
 {'id_vuelo': '13870-2411030835--31915-0-15434-2411031005',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T08:35:00',
  'llegada': '2024-11-03T10:05:00',
  'duracion(min)': 90,
  'escalas': 0,
  'aerolinea': 'Ryanair',
  'precio': 74.95},
 {'id_vuelo': '15434-2411061055--31915-0-13870-2411061225',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T10:55:00',
  'llegada': '2024-11-06T12:25:00',
  'duracion(min)': 90,
  'escalas': 0,
  'aerolinea': 'Ryanair',
  'precio': 74.95},
 {'id_vuelo': '13870-2411030705--32221-0-15434-2411030830',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T07:05:00',
  'llegada': '2024-11-03T08:30:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia Express',
  'precio': 103.87},
 {'id_vuelo': '15434-2411061435--32221-0-13870-2411061600',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T14:35:00',
  'llegada': '2024-11-06T16:00:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia Express',
  'precio': 103.87},
 {'id_vuelo': '13870-2411030705--32221-0-15434-2411030830',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T07:05:00',
  'llegada': '2024-11-03T08:30:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia Express',
  'precio': 103.87},
 {'id_vuelo': '15434-2411061745--32221-0-13870-2411061910',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T17:45:00',
  'llegada': '2024-11-06T19:10:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia Express',
  'precio': 103.87},
 {'id_vuelo': '13870-2411030705--32222-0-15434-2411030830',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T07:05:00',
  'llegada': '2024-11-03T08:30:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia',
  'precio': 107.64},
 {'id_vuelo': '15434-2411061435--32222-0-13870-2411061600',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T14:35:00',
  'llegada': '2024-11-06T16:00:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia',
  'precio': 107.64},
 {'id_vuelo': '13870-2411030705--32221-0-15434-2411030830',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T07:05:00',
  'llegada': '2024-11-03T08:30:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia Express',
  'precio': 103.87},
 {'id_vuelo': '15434-2411061935--32221-0-13870-2411062100',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T19:35:00',
  'llegada': '2024-11-06T21:00:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia Express',
  'precio': 103.87},
 {'id_vuelo': '13870-2411030705--32222-0-15434-2411030830',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T07:05:00',
  'llegada': '2024-11-03T08:30:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia',
  'precio': 112.09},
 {'id_vuelo': '15434-2411061745--32222-0-13870-2411061910',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T17:45:00',
  'llegada': '2024-11-06T19:10:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia',
  'precio': 112.09},
 {'id_vuelo': '13870-2411030705--32221-0-15434-2411030830',
  'id_origen': 'MAD',
  'ciudad_origen': 'Madrid',
  'id_destino': 'PMI',
  'ciudad_destino': 'Palma',
  'salida': '2024-11-03T07:05:00',
  'llegada': '2024-11-03T08:30:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Iberia Express',
  'precio': 68.08},
 {'id_vuelo': '15434-2411062110--32680-0-13870-2411062235',
  'id_origen': 'PMI',
  'ciudad_origen': 'Palma',
  'id_destino': 'MAD',
  'ciudad_destino': 'Madrid',
  'salida': '2024-11-06T21:10:00',
  'llegada': '2024-11-06T22:35:00',
  'duracion(min)': 85,
  'escalas': 0,
  'aerolinea': 'Air Europa',
  'precio': 68.08}]

In [8]:
# df=crearDF_formateado(info_vuelos(responsa))

# df.to_csv('datos/vuelos_pmi.csv', index=False)

In [73]:


# with open('mallorca.json', 'w') as archivo:
#     json.dump(responsa, archivo, indent=4)

Formateo:

In [119]:
# df_vuelos_ida_vuelta_PMI["salida"]= pd.to_datetime(df_vuelos_ida_vuelta_PMI["salida"])
# df_vuelos_ida_vuelta_PMI["llegada"]= pd.to_datetime(df_vuelos_ida_vuelta_PMI["llegada"])
# df_vuelos_ida_vuelta_PMI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_origen       20 non-null     object
 1   ciudad_origen   20 non-null     object
 2   id_destino      20 non-null     object
 3   ciudad_destino  20 non-null     object
 4   salida          20 non-null     datetime64[ns]
 5   llegada         20 non-null     datetime64[ns]
 6   duracion(min)   20 non-null     int64
 7   escalas         20 non-null     int64
 8   aerolinea       20 non-null     object
 9   precio          20 non-null     float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(5)
memory usage: 1.7+ KB

**DF vuelos de PMI Done**

**Funciones vuelos(ya pasadas a .py):**

In [5]:
# def info_vuelos(request_jeison):
#     lista_dicc=[]
#     res= request_jeison["data"]

#     for vuelo in range(0,len(res["itineraries"])): 
#         precio= res["itineraries"][vuelo]["price"]["raw"]

#         for i in range(0,2):
#                 id_vuelo= res["itineraries"][vuelo]["legs"][i]["id"]
#                 id_origen= res["itineraries"][vuelo]["legs"][i]["origin"]["id"]
#                 origen= res["itineraries"][vuelo]["legs"][i]["origin"]["city"]

#                 id_destino= res["itineraries"][vuelo]["legs"][i]["destination"]["id"]
#                 destino= res["itineraries"][vuelo]["legs"][i]["destination"]["city"]

#                 duracion_minuts= res["itineraries"][vuelo]["legs"][i]["durationInMinutes"]
#                 escalas= res["itineraries"][vuelo]["legs"][i]["stopCount"]

#                 salida= res["itineraries"][vuelo]["legs"][i]["departure"]
#                 llegada= res["itineraries"][vuelo]["legs"][i]["arrival"]

#                 aerolinea= res["itineraries"][vuelo]["legs"][i]["carriers"]["marketing"][0]["name"]

#                 dicc= {"id_origen":id_origen,
#                 "ciudad_origen":origen,
#                 "id_destino": id_destino,
#                 "ciudad_destino":destino,
#                 "salida":salida,
#                 "llegada":llegada,
#                 "duracion(min)":duracion_minuts,
#                 "escalas":escalas,
#                 "aerolinea":aerolinea,
#                 "precio":precio
#                 }
#                 lista_dicc.append(dicc)
#     return lista_dicc

Comprobación de las funciones

In [130]:
# info_vuelos(respuesta)     #Lo menciono para que NO MOLESTE

In [7]:
# def crearDF_formateado(funcion_info_vuelos):

#     df_vuelos_ida_vuelta= pd.DataFrame(funcion_info_vuelos)
#     df_vuelos_ida_vuelta["salida"]= pd.to_datetime(df_vuelos_ida_vuelta["salida"])
#     df_vuelos_ida_vuelta["llegada"]= pd.to_datetime(df_vuelos_ida_vuelta["llegada"])
#     return df_vuelos_ida_vuelta

In [131]:
#crearDF_formateado(info_vuelos(respuesta))    #Lo menciono para que NO MOLESTE

**Concat de las pags de pmi y tene y concat total de hoteles**

In [48]:
hotel_tene_1=pd.read_csv("datos/hotel_tene_1.csv")
hotel_tene_2=pd.read_csv("datos/hotel_tene_2.csv")
hotel_tene_3=pd.read_csv("datos/hotel_tene_3.csv")
hotel_tene_4=pd.read_csv("datos/hotel_tene_4.csv")


hotel_pmi_1=pd.read_csv("datos/hotel_pmi_1.csv")
hotel_pmi_2=pd.read_csv("datos/hotel_pmi_2.csv")
hotel_pmi_3=pd.read_csv("datos/hotel_pmi_3.csv")
hotel_pmi_4=pd.read_csv("datos/hotel_pmi_4.csv")
hotel_pmi_5=pd.read_csv("datos/hotel_pmi_5.csv")
hotel_pmi_6=pd.read_csv("datos/hotel_pmi_6.csv")
hotel_pmi_7=pd.read_csv("datos/hotel_pmi_7.csv")
hotel_pmi_8=pd.read_csv("datos/hotel_pmi_8.csv")

In [50]:
df_hoteles_pmi=pd.DataFrame()
df_hoteles_pmi= pd.concat([df_hoteles_pmi,hotel_pmi_1,hotel_pmi_2,hotel_pmi_3,hotel_pmi_4,hotel_pmi_5,hotel_pmi_6,hotel_pmi_7,hotel_pmi_8], ignore_index= True)

In [ ]:
df_hoteles_tene=pd.DataFrame()
df_hoteles_tene= pd.concat([df_hoteles_tene,hotel_tene_1,hotel_tene_2,hotel_tene_3,hotel_tene_4], ignore_index= True)

In [ ]:
df_hoteles_total= pd.DataFrame()
df_hoteles_total=pd.concat([df_hoteles_total,df_hoteles_pmi,df_hoteles_tene], ignore_index= True)

**Web srapping para Actividades:**

*Actividades Tene*

In [2]:
driver = webdriver.Chrome()
url_wunder = "https://www.guias.travel/tour/"
driver.get(url_wunder)
driver.maximize_window()
driver.implicitly_wait(6)

try: 
    driver.find_element("css selector", "#search-form-input").click()
except:
    print("No encuentro el botón")

driver.find_element("css selector", "#search-form-input").send_keys("santa cruz de tenerife", Keys.ENTER)
for i in range(5):  
    driver.execute_script("window.scrollBy(0, 1000);")  
    sleep(1)  
try: 
    driver.find_element("css selector", "#more_tours > span").click()
except:
    print("No encuentro el botón")

for i in range(5):  
    driver.execute_script("window.scrollBy(0, 1000);") 
    sleep(1)  
driver.find_element("css selector", "#moove_gdpr_cookie_info_bar > div > div > div.moove-gdpr-button-holder > button.mgbutton.moove-gdpr-infobar-reject-btn.gdpr-fbo-1").click()

try: 
    sleep(2)
    driver.find_element("css selector", "#more_tours > span").click()
    driver.find_element("css selector", "#more_tours > span").click()
except:
    print("No encuentro el botón")
for i in range(1):  
    driver.execute_script("window.scrollBy(0, 1000);") 
    sleep(1)

No encuentro el botón

*Hago scroll para que me salgan todas las opciones de la página*

In [3]:
sopa_actividades_tene = BeautifulSoup(driver.page_source)
lista_actividades_tene = sopa_actividades_tene.find_all("div", {"class": "strip_all_tour_list"})

actividades_tene = [actividad.find("h2").getText() for actividad in lista_actividades_tene]
categoria_activides_tene= [actividad.find("h3").getText() for actividad in lista_actividades_tene]
descripcion_actividad_tene = [actividad.find("p").getText() for actividad in lista_actividades_tene]

Comprobación de que tienen el mismo tamaño

In [4]:
print(len(actividades_tene))
print(len(categoria_activides_tene))
print(len(descripcion_actividad_tene))

58
58
58

In [5]:
lista_precios_tene = sopa_actividades_tene.find_all("div", {"class": "price_container"})
precio_actividades_tene = [precio.getText() for precio in lista_precios_tene]

In [ ]:
# lista_precios_tene     para   ue no moleste lo comento

[<div class="price_container">
 <span><sup></sup>39.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>60.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>18.35</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>33.90</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>14.85</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>19.25</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>10.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>160.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>35.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>97.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>65.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>33.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>120.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>25.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>117.90</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>20.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>15.50</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>26.00</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>72.80</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>,
 <div class="price_container">
 <span><sup></sup>17.80</span><span>€</span> <!--<div class="incluido">(impuestos y tasas incluidos)</div>-->
 <p><span class="btn_1 tour_view_more">Ver más</span></p>
 </div>]

In [6]:
precios_tene = []

for precio in lista_precios_tene:
    precio_normal = precio.find("div", class_="normal_price")

    if precio_normal:
        precios_tene.append(precio_normal.text.strip())
    else:
        sup_precio = precio.find("sup")
        span_precio = precio.find("span")
        if span_precio:
            precios_tene.append(span_precio.text.strip())
        else:
            precios_tene.append("gratis")

In [7]:
diccionario_tene = {"actividades": actividades_tene, "categorias": categoria_activides_tene, "descripcion": descripcion_actividad_tene, "precio": precios_tene}
df_actividades_tene = pd.DataFrame(diccionario_tene)
df_actividades_tene.head()

,actividades,categorias,descripcion,precio
0,Ruta de misterios y leyendas por Santa Cruz de...,Tours a pie,"Disfruta de una fantástica noche de miedo, pai...",39.00
1,Parque Nacional del Teide y norte de la isla d...,Excursiones de un día,Nuestra primera parada será en la ciudad de La...,60.00
2,Tour por Santa Cruz de Tenerife con recogida d...,Visitas Guiadas,En esta visita podrá visitar las mejores tiend...,18.35
3,"La Laguna, Tangana y Santa Cruz desde Puerto d...",Excursiones de un día,"Descubra la belleza natural de La Laguna, Tan...",33.90
4,Visita guiada a pie por el barrio judío de San...,Tours a pie,Contemple el barrio judío de Sevilla en un to...,14.85

*Actividades pmi*

In [9]:

driver = webdriver.Chrome()
url_wunder = "https://www.guias.travel/tour/"
driver.get(url_wunder)
driver.maximize_window()
driver.implicitly_wait(6) 

try: 
    driver.find_element("css selector", "#search-form-input").click()
except:
    print("No encuentro el botón")

driver.find_element("css selector", "#search-form-input").send_keys("mallorca", Keys.ENTER)
for i in range(5):  
    driver.execute_script("window.scrollBy(0, 1000);")  
    sleep(1) 
sleep(3)
try: 
    driver.find_element("css selector", "#more_tours > span").click()
except:
    print("No encuentro el botón")
for i in range(2):  
    driver.execute_script("window.scrollBy(0, 1000);")  
    sleep(1) 
try: 
    driver.find_element("css selector", "#more_tours > span").click()
except:
    print("No encuentro el botón")
sopa_actividades_pmi = BeautifulSoup(driver.page_source)
lista_actividades_pmi = sopa_actividades_pmi.find_all("div", {"class": "strip_all_tour_list"})

No encuentro el botón

In [10]:
actividades_pmi = [viaje.find("h2").getText() for viaje in lista_actividades_pmi]
categoria_activides_pmi = [excursion.find("h3").getText() for excursion in lista_actividades_pmi]
descripcion_actividad_pmi = [desc.find("p").getText() for desc in lista_actividades_pmi]


lista_precios_pmi= sopa_actividades_pmi.find_all("div", {"class": "price_container"})
precio_actividades_pmi = [p.getText().strip().replace( " \nVer más", "") for p in lista_precios_pmi]

In [11]:
print(len(actividades_pmi))
print(len(categoria_activides_pmi))
print(len(descripcion_actividad_pmi))

32
32
32

In [12]:

diccionario_pmi = {"actividades": actividades_pmi, "categorias": categoria_activides_pmi, "descripcion": descripcion_actividad_pmi, "precio": precio_actividades_pmi}
df_actividades_pmi = pd.DataFrame(diccionario_pmi)

df_actividades_pmi.head()

,actividades,categorias,descripcion,precio
0,Visita guiada por Palma de Mallorca con entrad...,Visitas Guiadas,Descubra los lugares más famosos de Palma de ...,26.00€
1,Autobús turístico de Palma,Tours en Bus turístico,Visite la antigua ciudad portuaria del Mediter...,18.50€
2,"Tour por la isla: Sóller en tren de madera, tr...",Excursiones de un día,En una excursión de día completo por la parte ...,90.80€
3,Visita Palma y Alrededores – Tour en Coche Elé...,Excursiones de un día,Tendrás la oportunidad de conducir uno de nues...,65.00€
4,"Visita a las Cuevas del Drach, porto Cristo y ...",Excursiones de un día,"Excursión de medio día a Majorica, Porto Crist...",50.60€

Formateo:

In [19]:
df_actividades_pmi["precio"]= df_actividades_pmi["precio"].str.replace("€", "").astype(float)
df_actividades_tene["precio"]= df_actividades_tene["precio"].str.replace("€", "").astype(float)

Para pasar esto al EDA

In [20]:
df_actividades_pmi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actividades  32 non-null     object
 1   categorias   32 non-null     object
 2   descripcion  32 non-null     object
 3   precio       32 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

In [21]:
df_actividades_tene.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actividades  58 non-null     object
 1   categorias   58 non-null     object
 2   descripcion  58 non-null     object
 3   precio       58 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.9+ KB

In [23]:
df_actividades_tene.describe().T

        count       mean        std   min   25%   50%    75%     max
precio   58.0  65.094828  45.325983  8.05  32.1  52.9  84.25  238.95

In [24]:
df_actividades_tene.describe(include= "O").T

,count,unique,top,freq
actividades,58,58,Ruta de misterios y leyendas por Santa Cruz de...,1
categorias,58,13,Excursiones de un día,19
descripcion,58,58,"Disfruta de una fantástica noche de miedo, pai...",1

In [25]:
df_actividades_pmi.describe().T

        count       mean      std    min      25%   50%    75%    max
precio   32.0  61.267187  39.4551  15.25  35.7375  54.5  70.25  226.0

In [26]:
df_actividades_pmi.describe(include= "O").T

,count,unique,top,freq
actividades,32,32,Visita guiada por Palma de Mallorca con entrad...,1
categorias,32,12,Paseos en barco,8
descripcion,32,32,Descubra los lugares más famosos de Palma de ...,1

**En este proceso de extración y limpieza:**  
- Se extrajeron los datos de los vuelos haciendo uso de una API de skiscrapper.  

- Se extrajeron los datos de los hoteles haciendo uso de una API de Tripadvisor.  

- Se extrajeron los datos de las actividades mediante web scrapping a la web guías travel.  

- Se convirtieron las fechas al formato correcto. 

- Se convirtieron los prcios de las actividades a float.  

- Se dropearon las columnas de rango max y min del precio porque solo se utilizaron para calcular la columna de precio medio.